<!-- https://realpython.com/django-social-network-1/ -->
<!DOCTYPE html>
<html lang="en">
{% load is_active %}
<!-- ______________________ HEADER _________________________-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Include the Bulma CSS framework for styling -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>KitchenLife</title>
</head>
<body>
    
    <a href="{% url 'index' %} ">

        <section class="hero is-small is-success mb-4">
            <div class="columns">
                <div class="column">
                    <div class="hero-body">
                        <h1 class="title is-1">KitchenLife</h1>
                        <p class="subtitle is-4">
                            Does kitcheny stuff
                        </p>
                    </div>
                </div> 
                <div class="column">
                    <br><br>
                    Hello, {{ user.username|default:'Guest' }}!
                    <div>
                        {% if user.is_authenticated %}
                            <a href="{% url 'logout' %}">Logout</a>
                        {% else %}
                            <a href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </div>
                </div>
                
                
            </div>
        </section>
    </a>
   
    <div class="container">
        <div class="columns">
            <!-- ______________________SIDEBAR_________________________-->
            <div class="column is-2">
                <aside class="menu">
                  <p class="menu-label">
                    Menu
                  </p>
                  <ul class="menu-list"> 
                    <li>
                        <a href="{% url 'recipes:index' %}" class="{% is_active request 'recipes:index' %}">Recipes</a>
                            <ul>
                                <li><a href="{% url 'recipes:upload_photo' %}" class="{% is_active request 'recipes:upload_photo' %}">Upload from Photo</a></li>
                                <li><a href="{% url 'recipes:upload_url' %}" class="{% is_active request 'recipes:upload_url' %}">Upload from URL</a></li>
                            </ul>
                    </li>
                    <li>
                        <a  href="{% url 'cupboard:ingredients_index' %}" class="{% is_active request 'cupboard:ingredients_index' %}">Ingredients</a>
                        <ul>
                            <a href="{% url 'cupboard:cupboard_index' %}" class="{% is_active request 'cupboard:cupboard_index' %}">In stock</a>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'mealplan:meal_plan_index' %}" class="{% is_active request 'mealplan:meal_plan_index' %}">Meal plan</a>
                        <ul>
                          <li>
                            <a href="{% url 'mealplan:add_meal_plan' %}" class="{% is_active request 'mealplan:add_meal_plan' %}">Add new meal plan</a>
                          </li>
                        </ul>
                    </li>
                    
                      
                  </ul>     
                </aside>
              <!-- ______________________END_SIDEBAR___________________-->
            </div>

            <div class="column">

                {% block content %}

                {% endblock content %}
            </div>
            

        </div>
    </div>
</body>
</html>
