
HW2-req/__pycache__/testlib.cpython-39.pyc
HW2-req/__pycache__/test_01.cpython-39-pytest-7.1.2.pyc
HW2-req/__pycache__/program01.cpython-39.pyc
HW2-req/__pycache__/program01.cpython-39.opt-typeguard.pyc
HW2-req/__pycache__/testlib.cpython-39.pyc
HW2-req/__pycache__/program01.cpython-39.pyc
HW2-req/__pycache__/program01.cpython-39.opt-typeguard.pyc
HW2-req/__pycache__/testlib.cpython-39.pyc
HW2-req/__pycache__/program01.cpython-39.pyc
HW2-req/__pycache__/program01.cpython-39.opt-typeguard.pyc
HW2-req/__pycache__/testlib.cpython-39.pyc
HW2-req/__pycache__/program01.cpython-39.pyc
HW2-req/__pycache__/program01.cpython-39.opt-typeguard.pyc
*.pyc
*.pyc
HW3opt/test_random.json
HW4-req/prof/combined.prof
HW4-req/prof/test_example.prof
HW4-req/prof/test_intricacy.prof
HW4-req/prof/test_single_01___test02_bullfight_txt____poternusakesness__.prof
HW4-req/prof/test_single_02___test03_woodchuck_txt____aanreeaseesable__.prof
HW4-req/prof/test_single_03___test04_pampers_txt____ceeelieessseds__.prof
HW4-req/prof/test_single_04___test05_avocados_txt____sereeieeesssssncy__.prof
HW4-req/prof/test_single_05___test06_strums_txt____sereeeeesssssssynssm__.prof
HW4-req/prof/test_single_06___test07_sinew_txt___________________________________.prof
HW4-req/prof/test_single_07___test08_boilings_txt______________________________________________.prof
HW4-req/prof/test_single_08___test09_meddles_txt____________________________________.prof
HW4-req/prof/test_single_09___test10_aileron_txt___________________________________________________________________________.prof
HW4-req/prof/test_single_10___test11_metonymies_txt________________________________________________________________________________________________________________________________________________________.prof
HW4-req/prof/test_single_11___test12_incipience_txt____sereeeeeesssssss__________________________________________________________________________________________________________________________________.prof
HW4-req/prof/test_zz_top_types.prof
HW4-req/test01/A.txt
HW4-req/test01/B.txt
HW4-req/test01/C.txt
HW4-req/test02/bullfight.txt
HW4-req/test02/misappropriated.txt
HW4-req/test02/unaccountability.txt
HW4-req/test03/bitchily.txt
HW4-req/test03/extradite.txt
HW4-req/test03/spider.txt
HW4-req/test03/stout.txt
HW4-req/test03/woodchuck.txt
HW4-req/test04/capillarities.txt
HW4-req/test04/dampers.txt
HW4-req/test04/insuperability.txt
HW4-req/test04/moderns.txt
HW4-req/test04/pampers.txt
HW4-req/test04/parasites.txt
HW4-req/test04/rehabilitators.txt
HW4-req/test04/stalagmite.txt
HW4-req/test04/tiber.txt
HW4-req/test04/unsuitability.txt
HW4-req/test05/angel.txt
HW4-req/test05/avocados.txt
HW4-req/test05/berkhamsted.txt
HW4-req/test05/clergymen.txt
HW4-req/test05/crematoriums.txt
HW4-req/test05/cycling.txt
HW4-req/test05/deacon.txt
HW4-req/test05/familiars.txt
HW4-req/test05/feints.txt
HW4-req/test05/formalities.txt
HW4-req/test05/furness.txt
HW4-req/test05/meaning.txt
HW4-req/test05/newport.txt
HW4-req/test05/outdistance.txt
HW4-req/test05/rapacious.txt
HW4-req/test05/ratify.txt
HW4-req/test05/slumlords.txt
HW4-req/test05/suckling.txt
HW4-req/test05/swollen.txt
HW4-req/test05/unfortunately.txt
HW4-req/test06/absconded.txt
HW4-req/test06/belying.txt
HW4-req/test06/blamed.txt
HW4-req/test06/boardwalks.txt
HW4-req/test06/cake.txt
HW4-req/test06/cassias.txt
HW4-req/test06/chalices.txt
HW4-req/test06/china.txt
HW4-req/test06/chronologically.txt
HW4-req/test06/concert.txt
HW4-req/test06/constitutions.txt
HW4-req/test06/deader.txt
HW4-req/test06/deforest.txt
HW4-req/test06/descriptive.txt
HW4-req/test06/disrupter.txt
HW4-req/test06/earflaps.txt
HW4-req/test06/escapade.txt
HW4-req/test06/fonder.txt
HW4-req/test06/gavelmen.txt
HW4-req/test06/girdled.txt
HW4-req/test06/harpsichordist.txt
HW4-req/test06/hyposulphurous.txt
HW4-req/test06/idyl.txt
HW4-req/test06/invent.txt
HW4-req/test06/invokes.txt
HW4-req/test06/jellying.txt
HW4-req/test06/knuckling.txt
HW4-req/test06/liras.txt
HW4-req/test06/locksmith.txt
HW4-req/test06/magazine.txt
HW4-req/test06/messenger.txt
HW4-req/test06/mired.txt
HW4-req/test06/oligopsonies.txt
HW4-req/test06/palpability.txt
HW4-req/test06/patronized.txt
HW4-req/test06/pelvises.txt
HW4-req/test06/pickering.txt
HW4-req/test06/reallocated.txt
HW4-req/test06/rhododendrons.txt
HW4-req/test06/seating.txt
HW4-req/test06/secessions.txt
HW4-req/test06/soar.txt
HW4-req/test06/strums.txt
HW4-req/test06/stylists.txt
HW4-req/test06/tagged.txt
HW4-req/test06/thallium.txt
HW4-req/test06/thumbscrew.txt
HW4-req/test06/togaed.txt
HW4-req/test06/troglodyte.txt
HW4-req/test06/versant.txt
HW4-req/test07/accumulative.txt
HW4-req/test07/balance.txt
HW4-req/test07/burdens.txt
HW4-req/test07/carpenters.txt
HW4-req/test07/departmentalize.txt
HW4-req/test07/flabbergasted.txt
HW4-req/test07/headachy.txt
HW4-req/test07/intangibility.txt
HW4-req/test07/koestler.txt
HW4-req/test07/madness.txt
HW4-req/test07/mountain.txt
HW4-req/test07/mousier.txt
HW4-req/test07/necessitating.txt
HW4-req/test07/normalised.txt
HW4-req/test07/remainder.txt
HW4-req/test07/showdown.txt
HW4-req/test07/sinew.txt
HW4-req/test07/smuttiest.txt
HW4-req/test07/tb.txt
HW4-req/test07/teenager.txt
HW4-req/test08/benefiting.txt
HW4-req/test08/blindly.txt
HW4-req/test08/boilings.txt
HW4-req/test08/colonizer.txt
HW4-req/test08/denote.txt
HW4-req/test08/eradicated.txt
HW4-req/test08/fishermen.txt
HW4-req/test08/goriest.txt
HW4-req/test08/grammarian.txt
HW4-req/test08/organisational.txt
HW4-req/test08/pedagogical.txt
HW4-req/test08/plymouth.txt
HW4-req/test08/ponderous.txt
HW4-req/test08/prance.txt
HW4-req/test08/prevailing.txt
HW4-req/test08/profanes.txt
HW4-req/test08/quaff.txt
HW4-req/test08/shipboard.txt
HW4-req/test08/upraising.txt
HW4-req/test08/wolf.txt
HW4-req/test09/associate.txt
HW4-req/test09/barest.txt
HW4-req/test09/creeping.txt
HW4-req/test09/deviousness.txt
HW4-req/test09/elbow.txt
HW4-req/test09/expirations.txt
HW4-req/test09/eyebright.txt
HW4-req/test09/filberts.txt
HW4-req/test09/gentiles.txt
HW4-req/test09/immix.txt
HW4-req/test09/involuntarily.txt
HW4-req/test09/meddles.txt
HW4-req/test09/numerousness.txt
HW4-req/test09/perpetuators.txt
HW4-req/test09/polities.txt
HW4-req/test09/predatory.txt
HW4-req/test09/repertory.txt
HW4-req/test09/thriving.txt
HW4-req/test09/undraping.txt
HW4-req/test09/visualizations.txt
HW4-req/test10/affirmations.txt
HW4-req/test10/aileron.txt
HW4-req/test10/antagonises.txt
HW4-req/test10/antihistamines.txt
HW4-req/test10/artis.txt
HW4-req/test10/bandoliers.txt
HW4-req/test10/bathe.txt
HW4-req/test10/blasphemer.txt
HW4-req/test10/boomtown.txt
HW4-req/test10/brassy.txt
HW4-req/test10/brownouts.txt
HW4-req/test10/bygones.txt
HW4-req/test10/carbonize.txt
HW4-req/test10/cardigans.txt
HW4-req/test10/clayey.txt
HW4-req/test10/commencements.txt
HW4-req/test10/commentator.txt
HW4-req/test10/crankcase.txt
HW4-req/test10/cravenly.txt
HW4-req/test10/demythologizing.txt
HW4-req/test10/devalued.txt
HW4-req/test10/disyllabic.txt
HW4-req/test10/draughty.txt
HW4-req/test10/ecstacies.txt
HW4-req/test10/epistemologies.txt
HW4-req/test10/equalise.txt
HW4-req/test10/expressly.txt
HW4-req/test10/extraordinarily.txt
HW4-req/test10/fairgrounds.txt
HW4-req/test10/faun.txt
HW4-req/test10/favorite.txt
HW4-req/test10/feeble.txt
HW4-req/test10/fornicators.txt
HW4-req/test10/foxhound.txt
HW4-req/test10/glimpsing.txt
HW4-req/test10/gravimeters.txt
HW4-req/test10/greasier.txt
HW4-req/test10/grippes.txt
HW4-req/test10/grossness.txt
HW4-req/test10/hags.txt
HW4-req/test10/hauberks.txt
HW4-req/test10/heaved.txt
HW4-req/test10/hosiery.txt
HW4-req/test10/ibis.txt
HW4-req/test10/inattentive.txt
HW4-req/test10/inspired.txt
HW4-req/test10/jamey.txt
HW4-req/test10/kennings.txt
HW4-req/test10/magnifying.txt
HW4-req/test10/malevolently.txt
HW4-req/test10/menopausal.txt
HW4-req/test10/mitigates.txt
HW4-req/test10/mitre.txt
HW4-req/test10/moral.txt
HW4-req/test10/moreover.txt
HW4-req/test10/mutts.txt
HW4-req/test10/oppression.txt
HW4-req/test10/orville.txt
HW4-req/test10/outgoing.txt
HW4-req/test10/oversteps.txt
HW4-req/test10/pain.txt
HW4-req/test10/parasitic.txt
HW4-req/test10/phototypesetting.txt
HW4-req/test10/probated.txt
HW4-req/test10/prom.txt
HW4-req/test10/proofed.txt
HW4-req/test10/provenal.txt
HW4-req/test10/rationalistic.txt
HW4-req/test10/related.txt
HW4-req/test10/ridding.txt
HW4-req/test10/roland.txt
HW4-req/test10/scoops.txt
HW4-req/test10/scrapbooks.txt
HW4-req/test10/sermones.txt
HW4-req/test10/skiving.txt
HW4-req/test10/slider.txt
HW4-req/test10/smidgen.txt
HW4-req/test10/snaffles.txt
HW4-req/test10/specialty.txt
HW4-req/test10/stairways.txt
HW4-req/test10/staunchly.txt
HW4-req/test10/studiousness.txt
HW4-req/test10/summum.txt
HW4-req/test10/surgical.txt
HW4-req/test10/survivalist.txt
HW4-req/test10/suzerainties.txt
HW4-req/test10/tackier.txt
HW4-req/test10/teasingly.txt
HW4-req/test10/territory.txt
HW4-req/test10/tomatoes.txt
HW4-req/test10/transfix.txt
HW4-req/test10/treed.txt
HW4-req/test10/trouts.txt
HW4-req/test10/underseals.txt
HW4-req/test10/ungratefulness.txt
HW4-req/test10/unstirred.txt
HW4-req/test10/upriver.txt
HW4-req/test10/venturing.txt
HW4-req/test10/winos.txt
HW4-req/test10/yachtswomen.txt
HW4-req/test11/aberrations.txt
HW4-req/test11/abseiled.txt
HW4-req/test11/actions.txt
HW4-req/test11/aerodromes.txt
HW4-req/test11/agony.txt
HW4-req/test11/airdromes.txt
HW4-req/test11/albeit.txt
HW4-req/test11/alienation.txt
HW4-req/test11/almoigne.txt
HW4-req/test11/analysts.txt
HW4-req/test11/arching.txt
HW4-req/test11/artisans.txt
HW4-req/test11/blankly.txt
HW4-req/test11/blends.txt
HW4-req/test11/bronchioles.txt
HW4-req/test11/buttonwood.txt
HW4-req/test11/cabinetwork.txt
HW4-req/test11/candelabra.txt
HW4-req/test11/cassias.txt
HW4-req/test11/cause.txt
HW4-req/test11/caviare.txt
HW4-req/test11/chaffinches.txt
HW4-req/test11/charted.txt
HW4-req/test11/cocked.txt
HW4-req/test11/coexisting.txt
HW4-req/test11/commonplace.txt
HW4-req/test11/coursing.txt
HW4-req/test11/cover.txt
HW4-req/test11/dabble.txt
HW4-req/test11/dedication.txt
HW4-req/test11/demagoguery.txt
HW4-req/test11/doughtier.txt
HW4-req/test11/eccentricity.txt
HW4-req/test11/endways.txt
HW4-req/test11/equatorial.txt
HW4-req/test11/evaporation.txt
HW4-req/test11/extramarital.txt
HW4-req/test11/fabulists.txt
HW4-req/test11/falsifiers.txt
HW4-req/test11/falsifies.txt
HW4-req/test11/favourite.txt
HW4-req/test11/feods.txt
HW4-req/test11/flattened.txt
HW4-req/test11/foreman.txt
HW4-req/test11/froth.txt
HW4-req/test11/furore.txt
HW4-req/test11/glazier.txt
HW4-req/test11/hookworm.txt
HW4-req/test11/hulking.txt
HW4-req/test11/human.txt
HW4-req/test11/humidity.txt
HW4-req/test11/irredentist.txt
HW4-req/test11/italicise.txt
HW4-req/test11/lawyer.txt
HW4-req/test11/lumbers.txt
HW4-req/test11/matrons.txt
HW4-req/test11/mediates.txt
HW4-req/test11/messing.txt
HW4-req/test11/metonymies.txt
HW4-req/test11/morays.txt
HW4-req/test11/neutrals.txt
HW4-req/test11/never.txt
HW4-req/test11/oakley.txt
HW4-req/test11/parley.txt
HW4-req/test11/permeated.txt
HW4-req/test11/polio.txt
HW4-req/test11/poltergeists.txt
HW4-req/test11/prefer.txt
HW4-req/test11/propped.txt
HW4-req/test11/prospective.txt
HW4-req/test11/pumpernickels.txt
HW4-req/test11/quadraphonic.txt
HW4-req/test11/raver.txt
HW4-req/test11/rejecter.txt
HW4-req/test11/repertories.txt
HW4-req/test11/rockford.txt
HW4-req/test11/roubles.txt
HW4-req/test11/scraggiest.txt
HW4-req/test11/sequences.txt
HW4-req/test11/shawn.txt
HW4-req/test11/shuddered.txt
HW4-req/test11/shutters.txt
HW4-req/test11/spared.txt
HW4-req/test11/subhuman.txt
HW4-req/test11/sulfanilamide.txt
HW4-req/test11/superposes.txt
HW4-req/test11/suppliant.txt
HW4-req/test11/tampered.txt
HW4-req/test11/telescopic.txt
HW4-req/test11/tenderfoots.txt
HW4-req/test11/tendons.txt
HW4-req/test11/thunderstorm.txt
HW4-req/test11/turbidly.txt
HW4-req/test11/venturesome.txt
HW4-req/test11/voyeur.txt
HW4-req/test11/windier.txt
HW4-req/test11/wordsworth.txt
HW4-req/test11/wracking.txt
HW4-req/test11/wyvern.txt
HW4-req/test11/yaps.txt
HW4-req/test12/adventuresome.txt
HW4-req/test12/anvils.txt
HW4-req/test12/apartments.txt
HW4-req/test12/begird.txt
HW4-req/test12/boozier.txt
HW4-req/test12/california.txt
HW4-req/test12/chinaberries.txt
HW4-req/test12/communize.txt
HW4-req/test12/complementation.txt
HW4-req/test12/condones.txt
HW4-req/test12/couch.txt
HW4-req/test12/delectable.txt
HW4-req/test12/distasteful.txt
HW4-req/test12/eructed.txt
HW4-req/test12/everyman.txt
HW4-req/test12/fantasizing.txt
HW4-req/test12/flamingly.txt
HW4-req/test12/floorboards.txt
HW4-req/test12/florentines.txt
HW4-req/test12/hampering.txt
HW4-req/test12/harlots.txt
HW4-req/test12/imbrue.txt
HW4-req/test12/incipience.txt
HW4-req/test12/ironmongers.txt
HW4-req/test12/kbytes.txt
HW4-req/test12/lepidopterists.txt
HW4-req/test12/materna.txt
HW4-req/test12/midsummer.txt
HW4-req/test12/montana.txt
HW4-req/test12/nationalises.txt
HW4-req/test12/niger.txt
HW4-req/test12/outmaneuvers.txt
HW4-req/test12/pandered.txt
HW4-req/test12/petunias.txt
HW4-req/test12/piercing.txt
HW4-req/test12/platting.txt
HW4-req/test12/punitory.txt
HW4-req/test12/raffia.txt
HW4-req/test12/slumbering.txt
HW4-req/test12/slumped.txt
HW4-req/test12/squint.txt
HW4-req/test12/synchrocyclotron.txt
HW4-req/test12/thunderbolt.txt
HW4-req/test12/trawled.txt
HW4-req/test12/typographical.txt
HW4-req/test12/unfashionably.txt
HW4-req/test12/uninhibited.txt
HW4-req/test12/unrelentingly.txt
HW4-req/test12/untruths.txt
HW4-req/test12/whetting.txt
HW5opt/rectangles_1.txt
HW5opt/rectangles_105.txt
HW5opt/rectangles_125.txt
HW5opt/rectangles_145.txt
HW5opt/rectangles_165.txt
HW5opt/rectangles_185.txt
HW5opt/rectangles_2.txt
HW5opt/rectangles_25.txt
HW5opt/rectangles_45.txt
HW5opt/rectangles_5.txt
HW5opt/rectangles_65.txt
HW5opt/rectangles_85.txt
HW5opt/rectangles_hidden.txt
HW5opt/rectangles_sidebyside.txt
HW5opt/rectangles_smol.txt
HW5opt/res_1.png
HW5opt/res_105.png
HW5opt/res_125.png
HW5opt/res_145.png
HW5opt/res_165.png
HW5opt/res_185.png
HW5opt/res_2.png
HW5opt/res_25.png
HW5opt/res_45.png
HW5opt/res_5.png
HW5opt/res_65.png
HW5opt/res_85.png
HW5opt/res_hidden.png
HW5opt/res_sidebyside.png
HW5opt/test_1.png
HW5opt/test_105.png
HW5opt/test_125.png
HW5opt/test_145.png
HW5opt/test_165.png
HW5opt/test_185.png
HW5opt/test_2.png
HW5opt/test_25.png
HW5opt/test_45.png
HW5opt/test_5.png
HW5opt/test_65.png
HW5opt/test_85.png
HW5opt/test_hidden.png
HW5opt/test_sidebyside.png
HW5opt/test_smol.png
HW5opt/testlib.py
HW5opt/png.py
HW5opt/posters.png
HW5opt/posters1.png
HW5opt/images.py
Exercises/Shape+Square+Clipart-881591175.png
HW6-req/data/expected_end_00.png
HW6-req/data/expected_end_01.png
HW6-req/data/expected_end_02.png
HW6-req/data/expected_end_03.png
HW6-req/data/expected_end_04.png
HW6-req/data/expected_end_05.png
HW6-req/data/expected_end_06.png
HW6-req/data/expected_end_07.png
HW6-req/data/expected_end_08.png
HW6-req/data/expected_end_09.png
HW6-req/data/expected_end_10.png
HW6-req/data/input_00.json
HW6-req/data/input_00.png
HW6-req/data/input_01.json
HW6-req/data/input_01.png
HW6-req/data/input_02.json
HW6-req/data/input_02.png
HW6-req/data/input_03.json
HW6-req/data/input_03.png
HW6-req/data/input_04.json
HW6-req/data/input_04.png
HW6-req/data/input_05.json
HW6-req/data/input_05.png
HW6-req/data/input_06.json
HW6-req/data/input_06.png
HW6-req/data/input_07.json
HW6-req/data/input_07.png
HW6-req/data/input_08.json
HW6-req/data/input_08.png
HW6-req/data/input_09.json
HW6-req/data/input_09.png
HW6-req/data/input_10.json
HW6-req/data/input_10.png
HW6-req/output_end_00.png
