{% extends 'base.html' %}

{% block content %}
  <h1>Edit Meal Plan</h1>
  <form method="post">
    {% csrf_token %}
    <table class="table is-narrow">
      <tbody>
    {% for recipe_ingredient in ingredient_list %}
      {% if recipe_ingredient.ingredients_string %}
        <th>{{ recipe_ingredient.name }}</th>
        <td></td>
      {% else %}
        <tr>
          <td><input type="checkbox" id="ingredient-{{ forloop.counter }}" name="ingredients" value="{{ recipe_ingredient.ingredient.ingredient.id }}"
            {% if recipe_ingredient.ingredient.ingredient in selected_ingredients %}checked{% endif %}>
            <label for="ingredient-{{ forloop.counter }}"> {{recipe_ingredient.profile_ingredient.ingredient.name}} </label></td>
            <td>{{ recipe_ingredient }} </td>
        </tr>
      {% endif %}
    {% endfor %}
    <th>Other stuff</th>
    <td></td>
    {% for misc_item in misc_items %}
      <tr>
        <td><input type="checkbox" id="misc_item-{{ forloop.counter }}" name="misc_items" value="{{ misc_item.id }}" checked>
        <label for="misc_item-{{ forloop.counter }}"> {{ misc_item.name }} </label></td>
        <td></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
    {{ form.as_p }}
    <button type="submit" name="add_misc_item">Add miscellaneous item</button>
    <button type="submit" name="save_list">Save shopping list</button>
  </form>
{% endblock %}