{% extends 'base.html' %}
{% block content %}
<ul>
    <form method="post">
        <li>{% csrf_token %}</li>
         {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
    <br>
    {% if meal_plan_list %}
        {% for meal_plan in meal_plan_list %}
        <li><a href="{% url 'mealplan:meal_plan_detail' meal_plan.id %}">{{ meal_plan.name }}</a></li>
        {% endfor %}
    {% else %}
        <p>No recipes are available.</p>
    {% endif %}
</ul>
{% endblock content %}