{% extends 'base.html' %}

{% block content %}
  <h1>Edit Meal Plan: {{ meal_plan.name }}</h1>
  <form method="POST">
    {% csrf_token %}
    <ul>
      {% for ingredient in ingredients %}
        <li>
          <label>
            <input type="checkbox" name="ingredients" value="{{ ingredient.pk }}"
              {% if ingredient in meal_plan.ingredients.all %}checked{% endif %}>
            {{ ingredient.name }}
          </label>
        </li>
      {% endfor %}
    </ul>
    <input type="submit" value="Save">
  </form>
{% endblock %}