{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<h1 class="title">{{ recipe.name }}</h1>
<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <h2 class="subtitle">{{ recipe.description }}</h2>
            {% if recipe.serves_int %}
                <p>Serves: {{ recipe.serves_int }}</p>
                <form method="post">
                    {% csrf_token %}
                    {{ formServing.as_p }}
                    <button type="submit" name="scale_quantities">Show recipe for X servings</button>
                </form>
                <form method="post">
                    {% csrf_token %}
                    {{ formNutrition.as_p }}
                    <button type="submit" name="scale_nutrition">Scale nutrition by X%</button>
                </form>
            {% endif %}
            {% if recipe.book %}
                <p>Book: {{ recipe.book }} <br>Page: {{ recipe.page }}</p>
            {% endif %}
            {% if recipe.url %}
                <p><a href={{recipe.url}} target="_blank">Click here to go to website</a></p>
            {% endif %}
        </div>
        <div class="column">
            {% if recipe.recipe_ingredient.all %}
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" name="add_all_ingredients">Add all ingredients to your cupboard</button>
                </form>
                {% for recipe_ingredient in recipe.recipe_ingredient.all|dictsort:'position_in_list' %}
                    <p><a href="{% url 'cupboard:ingredient_detail' recipe_ingredient.profile_ingredient.ingredient.id %}">{{ recipe_ingredient|scaled_string_with_arg:scale }}</a><br></p>
                {% endfor %}
            {% else %}
                <p>This recipe isn't properly linked with its ingredients.</p>
            {% endif %}
        </div>
        <div class="column">
            {% if nutrients %}
            <p><b>Estimated nutritional values per serving:</b></p>
            <ul><p>Calories: {{nutrients.calories}}</p>
            <p>Carbohydrates: {{nutrients.carbohydrates}}g</p>
            <p>Sugar: {{nutrients.sugar}}g</p>
            <p>Fat: {{nutrients.fat}}g</p>
            <p>Protein: {{nutrients.protein}}g</p>
            <p>Fibre: {{nutrients.fibre}}g</p></ul>
            <ul><a href="{% url 'recipes:nutrition_detail' recipe.id %}">See nutritional details</a></ul>
            {% else %}
                <p>This recipe isn't properly linked with its ingredients.</p>
            {% endif %}
        </div>
      </div>
    
    


    {% for step in method_as_list %}
    <p>{{ step }}<br><br></p>
    {% endfor %}
    <ul><a href="{% url 'recipes:edit_recipe' recipe.id %}">Edit recipe</a></ul>
    <ul><a href="{% url 'recipes:delete_recipe' recipe.id %}">Delete recipe</a></ul>
</section>

{% endblock content %}