{% extends "base.html" %}

{% block content %}
  <h1><strong>Edit ingredients for "{{ recipe.name }}"</strong></h1>
  <p>We've generated a list of ingredients. Sometimes it's a bit wrong though, so you should manually give it a check. Each ingredient should appear as it does in the original recipe (for example, "300g soft brown sugar" should appear as "soft brown sugar").</p>
  <div class="columns">
    <div class="column is-half">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Save">
        </form>
    </div>
    <div class="column">
        <p><strong>Current ingredients:</strong></p>
        <p style="white-space: pre-line">{{ recipe.ingredients_string }}</p>
    </div>
  </div>
{% endblock %}