{% extends 'base.html' %}
{% block content %}
<ul>
<form method="post">
    {% csrf_token %}
     {{ form.as_p }}
    <button type="submit" name="filter_by_search">Search</button>
</form>
<form method="post">
    {% csrf_token %}    
    <button type="submit" name="sort_by_match">Filter based on current cupboard</button>
</form>
<br>
<table class="table is-narrow">
    <thead>
      <tr>
        <th><abbr title="Recipe">Recipe</abbr></th>
        {% if recipes_with_match_data %}
        <th><abbr title="complete">% Complete</abbr></th>
        <th><abbr title="missing"># Missing</abbr></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
        {% if recipe_list %}
            {% for recipe in recipe_list %}
                <tr>
                    <td><a href="{% url 'recipes:detail' recipe.id %}">{{ recipe.name }}</a></td>
                </tr>
            {% endfor %}
        {% elif recipes_with_match_data %}
            {% for recipe_with_data in recipes_with_match_data %}
            <tr>
                <td><a href="{% url 'recipes:detail' recipe_with_data.0.id %}">{{ recipe_with_data.0 }}</a></td>
                <td>{{ recipe_with_data.2 }}</td>
                <td>{{ recipe_with_data.1 }}</td>
            </tr>
            {% endfor %}
        {% else %}
            <tr>
                <th>Add a recipe to get started</th>
            </tr>
        {% endif %}
    </tbody>
  </table>

{% endblock content %}