{% extends 'base.html' %}
{% load custom_filters %}
{% block content %}
<h1 class="title"><a href="{% url 'recipes:detail' recipe.id %}">{{ recipe.name }}</a></h1>
<section class="section">
<table class="table is-narrow">
    <thead>
        <tr>
            <th><abbr title="Ingredient">Ingredient</abbr></th>
            <th><abbr title="Calories">Calories</abbr><br></th>
            <th><abbr title="Carbohydrates">Carbohydrates</abbr><br>g</th>
            <th><abbr title="Sugar">Sugar</abbr><br>g</th>
            <th><abbr title="Fat">Fat</abbr><br>g</th>
            <th><abbr title="Protein">Protein</abbr><br>g</th>
            <th><abbr title="Fibre">Fibre</abbr><br>g</th>
        </tr>
    </thead>
    <tbody>
        {% for nutrient in nutrients %}
            <tr>
                <th>{{ nutrient.0.profile_ingredient.ingredient.name }}</th>
                <td>{{ nutrient.1.calories }} </td>
                <td>{{ nutrient.1.carbohydrates }} </td>
                <td>{{ nutrient.1.sugar }} </td>
                <td>{{ nutrient.1.fat }} </td>
                <td>{{ nutrient.1.protein }} </td>
                <td>{{ nutrient.1.fibre }} </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</section>
{% endblock content %}