{% extends 'base.html' %}

{% block content %}
  <h1>Edit Cupboard Contents</h1>
  <form method="post">
    {% csrf_token %}
    <ul>
    {% for profile_ingredient in profile_ingredients %}
      <li>
        <input type="checkbox" id="ingredient-{{ forloop.counter }}" name="ingredients" value="{{ profile_ingredient.ingredient.id }}" checked>
        <label for="ingredient-{{ forloop.counter }}"> {{ profile_ingredient.ingredient.name }} </label>
      </li>
    {% endfor %}
    </ul>
    <button type="submit">Save</button>
  </form>
{% endblock %}