{% extends 'base.html' %}
{% block content %}
<ul><h1 class="title">{{ ingredient.name }}</h1>
    <form method="post">
        {% csrf_token %}
        {% if owned_by_user %}
        <button type="submit">Remove from cupboard</button>
        {% else %}
        <button type="submit">Add to cupboard</button>
        {% endif %}
    </form>
<br>
<div class="columns">
    <div class="column is-half">
        {% if ingredient.category %}
        <h1 class="heading"><b>{{ ingredient.category }}</b></h1>
    {% endif %}
        <p>Possible substitutes include: <br>{{ ingredient.substitutes }}</p><br>
        {% if not ingredient.long_life %}
            <p>
Expected shelf life: {{ ingredient.shelf_life }} days
            </p>
        {% endif %}
    </div>
    <div class="column is-half">
        <h1 class="heading"><b>Nutritional information per 100g/100ml:</b></h1>
        {% if ingredient.calories %}
            <p>Calories: {{ ingredient.calories }}</p>
        {% endif %}
        {% if ingredient.carbohydrates %}
        <p>
Carbohydrates: {{ ingredient.carbohydrates }}g
        </p>
        {% endif %}
        {% if ingredient.sugar %}
        <p>
Sugar: {{ ingredient.sugar }}g
        </p>
        {% endif %}
        {% if ingredient.fat %}
        <p>
Fat: {{ ingredient.fat }}g
        </p>
        {% endif %}
        {% if ingredient.protein %}
        <p>
Protein: {{ ingredient.protein }}g
        </p>
        {% endif %}
        {% if ingredient.fibre %}
        <p>
Fibre: {{ ingredient.fibre }}g
        </p>
        {% endif %}
    </div>
</div>
{% if recipes %}
<br><br>
This ingredient is used in these recipes:
    {% for recipe in recipes %}
    <p><a href="{% url 'recipes:detail' recipe.id %}">{{ recipe.name }}</a><br></p>
    {% endfor %}
{% else %}
    <p>Add a recipe that uses {{ ingredient.name }} and it should show up here!</p>
{% endif %}
</ul>
{% endblock content %}