{% extends 'base.html' %}
{% block content %}
<ul>
    <form method="post">
        {% csrf_token %}
         {{ form.as_p }}
        <button type="submit">Search</button>
    </form>
    <br>
{% if profile_ingredient_list %}
    {% for profile_ingredient in profile_ingredient_list %}
    <li><a href="{% url 'cupboard:ingredient_detail' profile_ingredient.ingredient.id %}">{{ profile_ingredient.ingredient.name }}</a></li>
    {% endfor %}
{% else %}
    <p>No ingredients are available.</p>
{% endif %}
</ul>

{% endblock content %}